* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-gold: #bdae82;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #a3a39f;
}

html {
  scroll-behavior: smooth; 
  background-image: url(./assets/img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey);
}

a {    
  text-decoration: none;
  color: #723b3b;
}

a:hover {
  color: var(--color-gold);
}

span {
  color: #723b3b;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  height: 400px;
  margin: 10px 0px 10px 10px;
  background-image: url(./assets/img/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;    
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;

}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: #a3a39f;
  transition: .3s;   
  cursor: pointer; 
}

.nav-link:hover {
  color: #7c7b3c;
}

.header-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-profile-title {
  text-transform: uppercase;
  font-size: 50px;
  color: #f4f8f8;    
}

.header-profile-photo{
  display: block;
  width: 23%;  
  border-radius: 50%;    
}

.header-profile-subtitle {
  font-size: 28px;
  color: #a3a39f;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 10px 30px;
  margin: 10px;
  background-color: var(--color-white);
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 5px 5px 10px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-title {
  padding: 1rem 0 1rem 0;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #352f11;
}

.section-list {
  padding: 0 0 1rem 1rem;
  line-height: 2;
  list-style-type: none;  
}

.section-item {
  position: relative;
  padding-left: 1rem;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: -1rem;
  width: 5px;
  height: 5px; 
  border: 3px solid #723b3b;
  border-radius: 50%;
}

.section-icon{
display: flex;
align-items: center;
}

.section-contacts{
  width: calc(60% - 20px);
}

.section-about_me{
  width: calc(40% - 20px);
}

.section-skills{
  width: calc(25% - 20px);
}

.section-education{
  width: calc(75% - 20px);
}

.section-experience{  
  width: calc(100% - 20px);
  padding-left: 0px;
  text-align: center;    
}

.project-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.section-experience-item{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 445px;
  height: 280px;
  padding-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.section-experience-item:hover{
  font-size: 32px;
  transition: 0.3s;
  box-shadow: 0 0.5em 0.5em -0.4em #332c26;
  transform: translatey(-0.65em);
}

.experiens-link{
  color: var(--color-white);
}

.portfolio{
  background-image: url(./assets/img/Portfolio.jpg);
}

.image_galary{
  background-image: url(./assets/img/image-galary.jpg);
}

.tic_tac_toe{
  background-image: url(./assets/img/tic-tac-toe.jpg);
}

.section-code_example{
  width: calc(50% - 20px);
}

.section-languages{
  width: calc(50% - 20px);
}

.icon {
  width: 50px;
  height: 35px;
  margin: 5px 10px 5px -16px;
}

.section-contacts-links {
  padding-left: 1rem;
}

.section-contacts-span {
  padding-left: 1rem;
}

.section-code {
  line-height: 1.2;
}

.section-education-span {
  padding-left: 1rem;
}

.footer {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  height: 100px;
  margin: 10px 0px 10px 10px;
  background-image: url(./assets/img/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 20px;
}

.section-footer {
  padding-left: 2rem;
  font-size: 20px;
  color: #a3a39f;
}

.footer-url {   
  font-size: 20px;
  color: #a3a39f;
}

.rss-logo {
  width: 180px;
  height: 75px;
  margin-right: 2rem;
  background-image: url(./assets/svg/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}